<h1>Book: <%= @book.title %> </h1>
<h3>Publicado por: <%= @book.users.first.full_name %></h3>
<p>
  <b>Author:</b>
  <%= @book.author %>
</p>
<p>
  <b>Price:</b>
  <%= @book.price %>
</p>
<p>
  <b>Pages: </b>
  <%= @book.pages %>
</p>

<p>
  <b>Language: </b>
  <%= @book.language %>
</p>

<p>
  <b>status</b>
  <% unless @leido %>
    No te lo haz leido
    <%= link_to "Marcar como leido", read_book_path(@book), method: :patch %>
  <% else %>
    Ya lo leiste
  <% end %>
</p>

<br>

<h2>Add new comment</h2>
  <%= render "comments/form" %>
<hr>

<table border = "2">
<thead>
    <th>Comment</th>
    <th>User</th>
</thead>
  <tbody>
    <% @book.comments.each do |comment| %>
      <tr>
        <td><%= comment.review %></td>
        <td><%= comment.user.full_name unless comment.user.nil? %></td>
      </tr>
    <% end  %>
  </tbody>
</table>